<!DOCTYPE html>
<head>
  <title>
    
      Zola - blocks note
    
  </title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="https://block-cube-lib.github.io/note/style.css">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300;400;500;700&family=Source+Code+Pro:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap" rel="stylesheet">
</head>
<body>
  <header class="header">
      <div class="top">
        <a href="https:&#x2F;&#x2F;block-cube-lib.github.io&#x2F;note">blocks note</a>
      </div>
  </header>
  <nav class="container">
    <div class="container">
      <h2><a href="https:&#x2F;&#x2F;block-cube-lib.github.io&#x2F;note/categories">Categories</a></h2>
      <ul>
        <li><a href="https:&#x2F;&#x2F;block-cube-lib.github.io&#x2F;note/categories/book">Book</a></li>
        <li><a href="https:&#x2F;&#x2F;block-cube-lib.github.io&#x2F;note/categories/video">Video</a></li>
        <li><a href="https:&#x2F;&#x2F;block-cube-lib.github.io&#x2F;note/categories/conference">Conference</a></li>
        <li><a href="https:&#x2F;&#x2F;block-cube-lib.github.io&#x2F;note/categories/memo">Memo</a></li>
      </ul>
    </div>
    <div class="container">
      <h2><a href="https:&#x2F;&#x2F;block-cube-lib.github.io&#x2F;note/tags">Tags</a></h2>
    </div>
  </nav>
  <main class="container">
    
  
<h1 class="title">
  Zola
</h1>
<section class="update_history">
  <table>
    <tr>
      <td>
  <span class = "date">2023&#x2F;09&#x2F;14 10:08</span>
</td>
      <td>作成</td>
    </tr>
    
    
    <tr>
      <td>
  <span class = "date">2023&#x2F;09&#x2F;24 08:44</span>
</td>
      <td class="update_history_content"><p>出力例追加</p>
</td>
    </tr>
    
    <tr>
      <td>
  <span class = "date">2023&#x2F;09&#x2F;26 14:42</span>
</td>
      <td class="update_history_content"><p>出力例追加</p>
</td>
    </tr>
    
    
  </table>
</section>
<section class="published_at">
  <table>
    
      
  </table>
</section>
<div>
  categories: 
<span class = "categories">
  
  
<span class = "categories-label"><a href="https://block-cube-lib.github.io/note/categories/memo/">Memo</a></span>

  
</span>

</div>
<div>
  tags: 
<span class = "tags">
  
  
<span class = "tags-label"><a href="https://block-cube-lib.github.io/note/tags/tera/">Tera</a></span>

  
  
<span class = "tags-label"><a href="https://block-cube-lib.github.io/note/tags/zola/">Zola</a></span>

  
</span>

</div>
<section class="links">
  
</section>
<hr>
<section class="page">
  <aside id="page-index">
    
<ul>
   
  <li><a href="#rinku">リンク</a></li>
  <ul>
    
  </ul>
   
  <li><a href="#memo">Memo</a></li>
  <ul>
     
    <li><a href="#bian-shu-cun-zai-tietuku">変数存在チェック</a></li>
    <ul>
      
    </ul>
     
    <li><a href="#for">for</a></li>
    <ul>
      
    </ul>
     
    <li><a href="#mu-ci">目次</a></li>
    <ul>
      
    </ul>
     
    <li><a href="#burotukunozhong-deguan-shu-woshi-yong-suru">{% %} ブロックの中で関数を使用する</a></li>
    <ul>
      
    </ul>
     
    <li><a href="#yi-xia-chu-li-jie-guo-que-ren-yong">以下出力結果確認用</a></li>
    <ul>
      
      <li><a href="#tong-chang">通常</a></li>
      <ul>
        
      </ul>
      
      <li><a href="#xing-fan-hao-fu-ki">行番号付き</a></li>
      <ul>
        
      </ul>
      
      <li><a href="#xing-hairaitofu-ki">行ハイライト付き</a></li>
      <ul>
        
      </ul>
      
      <li><a href="#xing-fan-hao-tohairaitofu-ki">行番号とハイライト付き</a></li>
      <ul>
        
      </ul>
      
      <li><a href="#xing-fan-hao-nokai-shi-wei-zhi-wozhi-ding">行番号の開始位置を指定</a></li>
      <ul>
        
      </ul>
      
      <li><a href="#xing-fan-hao-nokai-shi-wei-zhi-wozhi-ding-tohairaitofu-ki">行番号の開始位置を指定とハイライト付き</a></li>
      <ul>
        
      </ul>
      
    </ul>
    
  </ul>
  
</ul>

  </aside>
  <div class="page-content"><h1 id="rinku">リンク</h1>
<ul>
<li><a href="https://www.getzola.org/">公式サイト</a></li>
<li><a href="https://www.getzola.org/documentation/getting-started/overview/">ドキュメント</a></li>
<li><a href="https://github.com/getzola/zola">リポジトリ</a> </li>
<li><a href="https://keats.github.io/tera/docs/">Tera ドキュメント</a></li>
<li><a href="https://github.com/Keats/tera">Tera リポジトリ</a></li>
</ul>
<h1 id="memo">Memo</h1>
<h2 id="bian-shu-cun-zai-tietuku">変数存在チェック</h2>
<pre data-lang="html" style="background-color:#1d1f29;color:#afbad4;" class="language-html "><code class="language-html" data-lang="html"><span style="color:#9aa5ce;">{{ if page.extra.value }}
</span><span style="color:#9aa5ce;">    </span><span style="font-style:italic;color:#444b6a;">&lt;!-- page.extra.valueが存在するときの処理 --&gt;
</span><span style="color:#9aa5ce;">    </span><span style="font-style:italic;color:#444b6a;">&lt;!-- page.extra.valueがbool型の場合は存在するかつtrueのときに通る --&gt;
</span><span style="color:#9aa5ce;">{{ endif }}
</span></code></pre>
<h2 id="for">for</h2>
<pre data-lang="html" style="background-color:#1d1f29;color:#afbad4;" class="language-html "><code class="language-html" data-lang="html"><span style="color:#9aa5ce;">{% for item in page.extra.items %}
</span><span style="color:#9aa5ce;">    {{ item.name }}
</span><span style="color:#9aa5ce;">{% endfor %}
</span></code></pre>
<h2 id="mu-ci">目次</h2>
<p><code>page.tocs</code>で取得可能</p>
<pre data-lang="html" style="background-color:#1d1f29;color:#afbad4;" class="language-html "><code class="language-html" data-lang="html"><span style="font-style:italic;color:#444b6a;">&lt;!-- 1階層目の目次 --&gt;
</span><span style="color:#ba3c97;">&lt;</span><span style="color:#f7768e;">ul</span><span style="color:#ba3c97;">&gt;
</span><span style="color:#9aa5ce;">  {% for toc1 in page.tocs %} 
</span><span style="color:#9aa5ce;">  </span><span style="color:#ba3c97;">&lt;</span><span style="color:#f7768e;">li</span><span style="color:#ba3c97;">&gt;&lt;</span><span style="color:#f7768e;">a </span><span style="color:#bb9af7;">href</span><span style="color:#89ddff;">=&quot;</span><span style="color:#9ece6a;">#{{ toc1.id }}</span><span style="color:#89ddff;">&quot;</span><span style="color:#ba3c97;">&gt;</span><span style="color:#9aa5ce;">{{ toc1.title }}</span><span style="color:#ba3c97;">&lt;/</span><span style="color:#f7768e;">a</span><span style="color:#ba3c97;">&gt;&lt;/</span><span style="color:#f7768e;">li</span><span style="color:#ba3c97;">&gt;
</span><span style="color:#9aa5ce;">  {% endfor %}
</span><span style="color:#ba3c97;">&lt;/</span><span style="color:#f7768e;">ul</span><span style="color:#ba3c97;">&gt;
</span></code></pre>
<h2 id="burotukunozhong-deguan-shu-woshi-yong-suru">{% %} ブロックの中で関数を使用する</h2>
<p><code>{{</code>,<code>}}</code>で囲む必要はない</p>
<pre data-lang="html" style="background-color:#1d1f29;color:#afbad4;" class="language-html "><code class="language-html" data-lang="html"><span style="color:#9aa5ce;">{% if current_url and current_url | trim_end_matches(pat=&quot;/&quot;) == config.base_url %}
</span></code></pre>
<h2 id="yi-xia-chu-li-jie-guo-que-ren-yong">以下出力結果確認用</h2>
<h3 id="tong-chang">通常</h3>
<pre data-lang="md" style="background-color:#1d1f29;color:#afbad4;" class="language-md "><code class="language-md" data-lang="md"><span style="color:#89ddff;">```</span><span style="color:#e0af68;">rust
</span><span style="color:#bb9af7;">fn </span><span style="color:#7aa2f7;">main</span><span style="color:#9abdf5;">() {
</span><span style="color:#9abdf5;">    println!(</span><span style="color:#89ddff;">&quot;</span><span style="color:#9ece6a;">Hello, world!</span><span style="color:#89ddff;">&quot;</span><span style="color:#9abdf5;">)</span><span style="color:#89ddff;">;
</span><span style="color:#9abdf5;">}
</span><span style="color:#89ddff;">```
</span></code></pre>
<pre data-lang="rust" style="background-color:#1d1f29;color:#afbad4;" class="language-rust "><code class="language-rust" data-lang="rust"><span style="color:#bb9af7;">fn </span><span style="color:#7aa2f7;">main</span><span style="color:#9abdf5;">() {
</span><span style="color:#9abdf5;">    println!(</span><span style="color:#89ddff;">&quot;</span><span style="color:#9ece6a;">Hello, world!</span><span style="color:#89ddff;">&quot;</span><span style="color:#9abdf5;">)</span><span style="color:#89ddff;">;
</span><span style="color:#9abdf5;">}
</span></code></pre>
<h3 id="xing-fan-hao-fu-ki">行番号付き</h3>
<pre data-lang="md" style="background-color:#1d1f29;color:#afbad4;" class="language-md "><code class="language-md" data-lang="md"><span style="color:#89ddff;">```</span><span style="color:#e0af68;">rust</span><span style="color:#9aa5ce;">,linenos
</span><span style="color:#9aa5ce;">fn main() {
</span><span style="color:#9aa5ce;">    println!(&quot;Hello, world!&quot;);
</span><span style="color:#9aa5ce;">}
</span><span style="color:#89ddff;">```
</span></code></pre>
<pre data-linenos data-lang="rust" style="background-color:#1d1f29;color:#afbad4;" class="language-rust "><code class="language-rust" data-lang="rust"><table><tbody><tr><td>1</td><td><span style="color:#bb9af7;">fn </span><span style="color:#7aa2f7;">main</span><span style="color:#9abdf5;">() {
</span></td></tr><tr><td>2</td><td><span style="color:#9abdf5;">    println!(</span><span style="color:#89ddff;">&quot;</span><span style="color:#9ece6a;">Hello, world!</span><span style="color:#89ddff;">&quot;</span><span style="color:#9abdf5;">)</span><span style="color:#89ddff;">;
</span></td></tr><tr><td>3</td><td><span style="color:#9abdf5;">}
</span></td></tr></tbody></table></code></pre>
<h3 id="xing-hairaitofu-ki">行ハイライト付き</h3>
<pre data-lang="md" style="background-color:#1d1f29;color:#afbad4;" class="language-md "><code class="language-md" data-lang="md"><span style="color:#89ddff;">```</span><span style="color:#e0af68;">rust</span><span style="color:#9aa5ce;">,hl_lines=2
</span><span style="color:#9aa5ce;">fn main() {
</span><span style="color:#9aa5ce;">    println!(&quot;Hello, world!&quot;);
</span><span style="color:#9aa5ce;">}
</span><span style="color:#89ddff;">```
</span></code></pre>
<pre data-lang="rust" style="background-color:#1d1f29;color:#afbad4;" class="language-rust "><code class="language-rust" data-lang="rust"><span style="color:#bb9af7;">fn </span><span style="color:#7aa2f7;">main</span><span style="color:#9abdf5;">() {
</span><mark style="background-color:#33467c;"><span style="color:#9abdf5;">    println!(</span><span style="color:#89ddff;">&quot;</span><span style="color:#9ece6a;">Hello, world!</span><span style="color:#89ddff;">&quot;</span><span style="color:#9abdf5;">)</span><span style="color:#89ddff;">;
</span></mark><span style="color:#9abdf5;">}
</span></code></pre>
<h3 id="xing-fan-hao-tohairaitofu-ki">行番号とハイライト付き</h3>
<pre data-lang="md" style="background-color:#1d1f29;color:#afbad4;" class="language-md "><code class="language-md" data-lang="md"><span style="color:#89ddff;">```</span><span style="color:#e0af68;">rust</span><span style="color:#9aa5ce;">,linenos,hl_lines=2
</span><span style="color:#9aa5ce;">fn main() {
</span><span style="color:#9aa5ce;">    println!(&quot;Hello, world!&quot;);
</span><span style="color:#9aa5ce;">}
</span><span style="color:#89ddff;">```
</span></code></pre>
<pre data-linenos data-lang="rust" style="background-color:#1d1f29;color:#afbad4;" class="language-rust "><code class="language-rust" data-lang="rust"><table><tbody><tr><td>1</td><td><span style="color:#bb9af7;">fn </span><span style="color:#7aa2f7;">main</span><span style="color:#9abdf5;">() {
</span></td></tr><tr><td><mark style="background-color:#33467c;">2</mark></td><td><mark style="background-color:#33467c;"><span style="color:#9abdf5;">    println!(</span><span style="color:#89ddff;">&quot;</span><span style="color:#9ece6a;">Hello, world!</span><span style="color:#89ddff;">&quot;</span><span style="color:#9abdf5;">)</span><span style="color:#89ddff;">;
</span></mark></td></tr><tr><td>3</td><td><span style="color:#9abdf5;">}
</span></td></tr></tbody></table></code></pre>
<h3 id="xing-fan-hao-nokai-shi-wei-zhi-wozhi-ding">行番号の開始位置を指定</h3>
<pre data-lang="md" style="background-color:#1d1f29;color:#afbad4;" class="language-md "><code class="language-md" data-lang="md"><span style="color:#89ddff;">```</span><span style="color:#e0af68;">rust</span><span style="color:#9aa5ce;">,linenos,linenostart=10
</span><span style="color:#9aa5ce;">fn main() {
</span><span style="color:#9aa5ce;">    println!(&quot;Hello, world!&quot;);
</span><span style="color:#9aa5ce;">}
</span><span style="color:#89ddff;">```
</span></code></pre>
<pre data-linenos data-lang="rust" style="background-color:#1d1f29;color:#afbad4;" class="language-rust "><code class="language-rust" data-lang="rust"><table><tbody><tr><td>10</td><td><span style="color:#bb9af7;">fn </span><span style="color:#7aa2f7;">main</span><span style="color:#9abdf5;">() {
</span></td></tr><tr><td>11</td><td><span style="color:#9abdf5;">    println!(</span><span style="color:#89ddff;">&quot;</span><span style="color:#9ece6a;">Hello, world!</span><span style="color:#89ddff;">&quot;</span><span style="color:#9abdf5;">)</span><span style="color:#89ddff;">;
</span></td></tr><tr><td>12</td><td><span style="color:#9abdf5;">}
</span></td></tr></tbody></table></code></pre>
<h3 id="xing-fan-hao-nokai-shi-wei-zhi-wozhi-ding-tohairaitofu-ki">行番号の開始位置を指定とハイライト付き</h3>
<pre data-lang="md" style="background-color:#1d1f29;color:#afbad4;" class="language-md "><code class="language-md" data-lang="md"><span style="color:#89ddff;">```</span><span style="color:#e0af68;">rust</span><span style="color:#9aa5ce;">,linenos,linenostart=10,hl_lines=2
</span><span style="color:#9aa5ce;">fn main() {
</span><span style="color:#9aa5ce;">    println!(&quot;Hello, world!&quot;);
</span><span style="color:#9aa5ce;">}
</span><span style="color:#89ddff;">```
</span></code></pre>
<pre data-linenos data-lang="rust" style="background-color:#1d1f29;color:#afbad4;" class="language-rust "><code class="language-rust" data-lang="rust"><table><tbody><tr><td>10</td><td><span style="color:#bb9af7;">fn </span><span style="color:#7aa2f7;">main</span><span style="color:#9abdf5;">() {
</span></td></tr><tr><td><mark style="background-color:#33467c;">11</mark></td><td><mark style="background-color:#33467c;"><span style="color:#9abdf5;">    println!(</span><span style="color:#89ddff;">&quot;</span><span style="color:#9ece6a;">Hello, world!</span><span style="color:#89ddff;">&quot;</span><span style="color:#9abdf5;">)</span><span style="color:#89ddff;">;
</span></mark></td></tr><tr><td>12</td><td><span style="color:#9abdf5;">}
</span></td></tr></tbody></table></code></pre>
</div>
</section>
    
  
  </main>
  <footer>
    blocks note
    
    
    
  </footer>
</body>
